// Native
// ============================================================

*,
a {
	transition: all .15s ease-in-out;
}

body {
	color: $black;
}

body,
h1, h2, h3, h4, h5, h6
label,
input,
input[type="text"],
textarea {
	font-family: $font-body;
}

body,
label,
input,
input[type="text"],
textarea {
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

a {
	color: $cherry;
	&:hover {
		color: lighten($cherry,10);
	}
	&:focus {
		outline: none;
	}
}

p {
	line-height: 1.6em;
}

h1 {

}

button,
input[type="submit"] {
	font-family: $font-body;
	text-transform: uppercase;
	letter-spacing: .1em;
	border-radius: .2em;
}

// Classes
// ============================================================

.outer {
	@include media(min-width $desktop) {
		@include pad(4em 0 6em);
	}
	@include media(max-width $desktop) {
		@include pad(2em 0 3em);
	}
}
.inner {
	@include outer-container;
	@include media(max-width $desktop min-width $mobile) {
		@include fill-parent;
		@include pad(null 2em);
	}
	@include media(max-width $mobile) {
		@include pad(null 1em);
	}
}

// .icon {
// 	@include size(3em);
// 	@include margin(0 auto);
// }

// .pad-x {
// 	@include media(min-width $tablet) {
// 		@include pad(0 4em);
// 	}
// }

// .box-shadow {
// 	box-shadow:
// 		0 .2em 2em rgba(0,0,0,.1),
// 	  0 0 0 .4em $white inset,
// 	  0 0 0 .5em $grey inset;
// }

// .center {
// 	text-align: center;
// }

// .margin-top {
// 	@include margin(4em null null);
// }

// .headline {
// 	@include margin(1em 0 .5em);
// 	text-align: center;
// }

// h1.headline {
// 	@include margin(.5em 0 null);
// 	font-family: $font-head;
// 	font-size: 2.4em;
// }

// h2.headline {
// 	font-family: $font-head;
// 	font-size: 2em;
// }

// .large {
// 	font-size: 1.4em;
// 	line-height: 1.4em;
// 	font-weight: 100;
// }

// .card {
// 	@include pad(1em);
// 	background-color: $white;
// 	// background: linear-gradient(to bottom, $white, darken($white,5));
// 	// background-image: url('../_img/bg-texture-lightpaperfibers_@2X.png');
// 	@extend .box-shadow;
// 	border-radius: .2em;
// 	@include media(min-width $tablet){
// 		transform: rotate(-3deg);
// 	}
// 	@include media(max-width $tablet){
// 		transform: rotate(-1deg);
// 	}
// }

// .card-hover:hover {
// 	transform: rotate(0deg);
// }

// // Column structure
// // ============================================================

// .two-column {
// 	@include media(min-width $desktop) {
// 		@include span-columns(10);
// 		@include shift(1);
// 	}
// 	li {
// 		@include media(min-width $desktop) {
// 			@include span-columns(6);
// 			@include omega(2n);
// 			@extend .pad-x;
// 		}
// 		@include media(max-width $desktop min-width $tablet) {
// 			@include span-columns(8);
// 			@include shift(2);
// 		}
// 		@include media(max-width $tablet) {
// 			@include fill-parent;
// 		}
// 		@include media(max-width $desktop) {
// 			@include margin(null null 2em);
// 		}
// 	}
// }

// .three-column {
// 	@include media(max-width $desktop) {
// 		@extend .pad-x;
// 	}
// 	li {
// 		@include media(min-width $desktop) {
// 			@include span-columns(4);
// 			@include omega(3n);
// 		}
// 		@include media(max-width $desktop) {
// 			@include fill-parent;
// 		}
// 	}
// }

// .bg-photo {
// 	position: absolute;
//   top: -50%; 
//   left: -50%; 
//   width: 200%; 
//   height: 200%;
// 	img {
// 		position: absolute; 
// 	  top: 0; 
// 	  left: 0; 
// 	  right: 0; 
// 	  bottom: 0; 
// 	  margin: auto; 
// 	  min-width: 50%;
// 	  min-height: 50%;
// 	}
// }

// .blocks-slide {
// 	.blocks-slide-item {
// 		@include margin(1.6em);
// 		@include pad(2em 2em 1.6em);
// 		@extend .card;
// 	}
// 	.slick-dots li button:before,
// 	.slick-dots li.slick-active button:before {
// 		color: $white;
// 	}
// }

// // Hero block
// // ============================================================

// .hero {
// 	height: 40vh;
// 	background-color: shade($tan,30);
// 	.bg-photo {
// 		opacity: .8;
// 	}
// 	// .inner {
// 	// 	position: relative;
// 	// 	@include media(min-width $tablet) {
// 	// 	}
// 	// 	.hero-tagline {
// 	// 		@include media(min-width $tablet) {
// 	// 			@include margin(3em 0 6em);
// 	// 		}
// 	// 		@include media(max-width $desktop min-width $tablet) {
// 	// 			@include margin(2em 0 6em);
// 	// 			@include pad(0 2em);
// 	// 		}
// 	// 		@include media(max-width $tablet min-width $mobile) {
// 	// 			@include margin(1em 0 2em);
// 	// 			font-size: 2.2em;
// 	// 		}
// 	// 		@include media(max-width $mobile min-width $mobile-xs) {
// 	// 			@include margin(1em 0 3em);
// 	// 			font-size: 1.8em;
// 	// 		}
// 	// 		@include media(max-width $mobile-xs) {
// 	// 			@include margin(1em 0 1em);
// 	// 			font-size: 1.4em;
// 	// 		}
// 	// 		text-align: center;
// 	// 		font-family: $font-head;
// 	// 		font-size: 2.6em;
// 	// 		line-height: 2em;
// 	// 		color: $white;
// 	// 	}
// 	// }
// }

// // Navigation block
// // ============================================================

// // .nav-outer {
// // 	background-color: $red;
// // 	background: linear-gradient(160deg,
// // 							adjust-hue($red, -10deg) 0%,
// // 							$red 50%,
// // 							adjust-hue($red, 10deg) 100%);
// // }

// // .nav-inner {
// // 	@include outer-container;
// // 	text-align: center;
// // 	position: relative;
// // }

// // Navigation
// // ===========================

// // .nav-list {
// // 	@include pad(2em null);
// // 	@include media(min-width $desktop) {
// // 		@include span-columns(6);
// // 		@include shift(6);
// // 		@include omega;
// // 	}
// // 	@include media(max-width $desktop) {
// // 		@include fill-parent;
// // 	}
// // 	li {
// // 		display: inline-block;
// // 		a {
// // 			@include pad(.5em 1em);
// // 			display: block;
// // 			font-weight: 600;
// // 			text-transform: uppercase;
// // 			letter-spacing: .1em;
// // 			color: lighten($orange,10);
// // 			border-radius: .2em;
// // 			background-color: rgba(0,0,0,0);
// // 			&:hover {
// // 				color: $white;
// // 				background-color: lighten($red,10);
// // 			}
// // 		}
// // 	}
// // }

// // .nav-list .selected a {
// // 	color: $white;
// // 	background-color: lighten($cherry,10);
// // }

// // Nav static / fixed
// // ============================================================

// // .nav-static {
// // 	.biz-card {
// // 		@extend .card;
// // 		@extend .card-hover;
// // 		@include media(min-width $desktop) {
// // 			position: absolute;
// // 			bottom: 2em;
// // 			z-index: 10;
// // 		}
// // 	}
// // }

// // .nav-fixed {
// // 	@include size(100% auto);
// // 	position: fixed;
// // 	top: -5em;
// // 	transform: translateY(5em);
// // 	z-index: 100;
// // 	.biz-card {
// // 		@include pad(1em);
// // 		position: relative;
// // 		top: 0;
// // 		.biz-card-info {
// // 			@include fill-parent;
// // 			@include pad(0 1em);
// // 			.biz-card-info-title {
// // 				@include pad(.5em 0 0);
// // 				h1,
// // 				p {
// // 					@include span-columns(6);
// // 					color: lighten($orange,10);
// // 				}
// // 				p {
// // 					// text-align: right;
// // 					@include margin(0);
// // 					@include omega;
// // 				}
// // 			}
// // 		}
// // 	}
// // 	.biz-card-photo,
// // 	.biz-card-info-links,
// // 	.biz-card-info-official {
// // 		display: none;
// // 	}
// // 	.nav-list {
// // 		@include pad(1em null);
// // 		@include shift(0);
// // 	}
// // }

// // Overview block
// // ============================================================

// // .overview {
// // 	background-color: $white;
// // 	background: linear-gradient(160deg,
// // 							$white 50%,
// // 							lighten($tan,10) 100%);
// // 	.svg {
// // 		fill: $purple;
// // 	}
// // 	.headline {
// // 		color: lighten($purple,10);
// // 	}
// // 	p {
// // 		color: darken($purple,10);
// // 	}
// // }

// // Overview buckets block
// // ============================================================

// .overview {
// 	overflow: visible;
// 	@include media(min-width $tablet) {
// 		@include pad(8em 0 6em);
// 	}
// 	// background: linear-gradient(160deg,
// 	// 						adjust-hue($orange, -10deg) 0%,
// 	// 						$orange 50%,
// 	// 						adjust-hue($orange, 10deg) 100%);
// 	background-color: lighten($tan,15);
// 	.overview-summary {
// 		clear: both;
// 		text-align: center;
// 		@include media(min-width $tablet) {
// 			@include span-columns(8);
// 			@include shift(2);
// 			// @include margin(null null 4em);
// 		}
// 		.overview-tagline {
// 			@include media(min-width $tablet) {
// 				// @include margin(3em 0 6em);
// 			}
// 			@include media(max-width $desktop min-width $tablet) {
// 				@include margin(2em 0 6em);
// 				@include pad(0 2em);
// 			}
// 			@include media(max-width $tablet min-width $mobile) {
// 				@include margin(1em 0 2em);
// 				font-size: 2.2em;
// 			}
// 			@include media(max-width $mobile min-width $mobile-xs) {
// 				@include margin(1em 0 3em);
// 				font-size: 1.8em;
// 			}
// 			@include media(max-width $mobile-xs) {
// 				@include margin(1em 0 1em);
// 				font-size: 1.4em;
// 			}
// 			font-family: $font-head;
// 			font-size: 2.6em;
// 			line-height: 1.6em;
// 			color: lighten($red,10);
// 		}
// 		p {
// 			font-size: 1.4em;
// 			color: $black;
// 		}
// 	}
// 	// .three-column {
// 	// 	clear: both;
// 	// 	li {
// 	// 		@include media(min-width $tablet max-width $desktop) {
// 	// 			@include size(30em auto);
// 	// 			@include margin(0 auto);
// 	// 		}
// 	// 		.icon {
// 	// 			@include size(3em);
// 	// 			// @include pad(2em);
// 	// 			// border-radius: 4em;
// 	// 			// background-color: $white;
// 	// 			// @extend .box-shadow;
// 	// 		}
// 	// 		p {
// 	// 			color: $black;
// 	// 		}
// 	// 	}
// 	// }
// 	// .svg {
// 	// 	fill: lighten($purple,20);
// 	// }
// 	// .headline {
// 	// 	color: $purple;
// 	// }
// 	// p {
// 	// 	color: shade($orange,40);
// 	// }
// 	// li {
// 	// 	@include media(max-width $desktop) {
// 	// 		@include margin(null null 4em);
// 	// 		&:last-child {
// 	// 			@include margin(0 null);
// 	// 		}
// 	// 	}
// 	// }
// }

// .biz-card {
// 	@extend .card;
// 	// @extend .card-hover;
// 	@include media(min-width $desktop) {
// 		@include margin(-21em 0 4em);
// 		@include span-columns(6);
// 		@include shift(3);
// 		@include omega;
// 	}
// 	@include media(max-width $desktop min-width $tablet) {
// 		@include margin(-21em 0 4em);
// 		@include span-columns(8);
// 		@include shift(2);
// 		@include omega;
// 	}
// 	@include media(max-width $tablet min-width $mobile) {
// 		@include margin(-6em auto 2em);
// 		max-width: 18em;
// 		// @include span-columns(8);
// 		// @include shift(1);
// 		// @include omega;
// 	}
// 	@include media(max-width $mobile min-width $mobile-xs) {
// 		@include margin(-10em 0 2em);
// 		@include span-columns(10);
// 		@include shift(1);
// 		@include omega;
// 	}
// }

// .biz-card-photo {
//   position: relative;
// 	border-radius: .1em;
// 	overflow: hidden;
// 	@include media(min-width $tablet) {
// 		@include span-columns(5);
// 		height: 16em;
// 	}
// 	@include media(max-width $tablet min-width $mobile) {
// 		@include fill-parent;
// 		min-height: 16em;
// 	}
// 	img {
// 		@include media(min-width $mobile) {
// 			position: absolute;
// 	    top: 0;
// 	    left: 0;
// 	    right: 0;
//     }
//     margin: auto;
//     min-width: 100%;
//     min-height: auto;
// 	}
// }

// .biz-card-info {
// 	@include pad(1em);
// 	text-align: left;
// 	@include media(min-width $tablet) {
// 		@include span-columns(7);
// 	}
// 	@include media(max-width $tablet) {
// 		@include fill-parent;
// 		@include margin(1em 0 0);
// 		text-align: center;
// 	}
// 	.biz-card-info-title {
// 		h1 {
// 			@include margin(0);
// 			font-family: $font-head;
// 			font-size: 1.6em;
// 		}
// 		p {
// 			font-size: 1.2em;
// 			color: $black;
// 		}
// 	}
// 	p {
// 		line-height: 1.4em;
// 	}
// 	.biz-card-info-links {
// 		a {
// 			color: $cherry;
// 			&:hover {
// 				color: ligthen($cherry,10);
// 			}
// 		}
// 	}
// 	.biz-card-info-official {
// 		@include margin(1em 0 0);
// 		@include pad(.4em 0 0);
// 		border-top: 1px solid lighten($tan,10);
// 		p {
// 			@include margin(.2em 0);
// 			font-size: .8em;
// 			text-transform: uppercase;
// 			letter-spacing: .1em;
// 			a {
// 				@include margin(1em 0 0);
// 				color: lighten($black,20);
// 			}
// 		}
// 	}
// }

// // Business card icon hover
// // ===========================

// .biz-card-info-links,
// .biz-card-info-official {
// 	p {
// 		a {
// 			transition: all .2s ease-in-out;
// 			display: block;
// 			position: relative;
// 			left: 0;
// 			&:before {
// 				transition: all .2s ease-in-out;
// 				@include size(1.4em);
// 				@include margin(null .4em null null);
// 				opacity: 0;
// 				position: absolute;
// 				top: 0;
// 				left: -1.5em;
// 			}
// 			&:hover {
// 				left: 2em;
// 			}
// 			&:hover:before {
// 				opacity: .4;
// 				left: -2em;
// 			}
// 		}
// 	}
// }

// @each $icon in realty_nw, redfin, email, phone {
//   p.card-link-#{$icon} a:before {
// 		content: url('../_img/icon-#{$icon}.svg');
// 	}
// }

// // Three col block

// .three-column-outer {
// 	.three-column {
// 		li {
// 			@include media(min-width $tablet max-width $desktop) {
// 				@include size(30em auto);
// 				@include margin(0 auto);
// 			}
// 		}
// 	}
// 	background-color: $cherry;
// 	background: linear-gradient(160deg,
// 							adjust-hue($cherry, -10deg) 0%,
// 							$cherry 50%,
// 							adjust-hue($cherry, 10deg) 100%);
// 	color: $tan;
// 	.svg {
// 		fill: $orange;
// 	}
// 	.headline {
// 		color: $white;
// 	}
// }

// // Listings block
// // ============================================================

// .listings {
// 	@include pad(10em null);
// 	background-color: $purple;
// 	background: linear-gradient(160deg,
// 							adjust-hue($purple, -20deg) 0%,
// 							$purple 50%,
// 							adjust-hue($purple, 20deg) 100%);
// 	color: $black;
// 	.headline {
// 		color: $white;
// 	}
// 	.large {
// 		color: tint($tan,20);
// 	}
// 	.blocks {
// 		@include media(min-width $desktop) {
// 			@include margin(3em null null);
// 		}
// 		.blocks-slide-item {
// 			@include pad(1em);
// 		}
// 	}
// 	.bg-photo {
// 		opacity: .6;
// 	}
// }

// .listing-info {
// 	@include outer-container;
// 	@include pad(.4em 1em);
// 	.listing-price {
// 		font-size: 1.2em;
// 		font-weight: 600;
// 	}

// 	.listing-details {
// 		font-size: .8em;
// 		text-transform: uppercase;
// 		letter-spacing: .1em;
// 	}
// }

// a .listing-info {
// 	.listing-price {
// 		color: $red;
// 	}
// 	.listing-location {
// 		color: $black;
// 	}
// 	.listing-details {
// 		color: shade(darken($tan,10),20);
// 	}
// }

// // History block
// // ============================================================

// .history {
// 	background-color: lighten($tan,15);
// 	// background: linear-gradient(160deg,
// 	// 						adjust-hue($purple, -20deg) 0%,
// 	// 						$purple 50%,
// 	// 						adjust-hue($purple, 20deg) 100%);
// 	.headline {
// 		color: $purple;
// 	}
// 	.large {
// 		color: $black;
// 	}
// 	button {
// 		color: lighten($orange,10);
// 		background-color: $red;
// 		&:hover {
// 			color: $white;
// 			background-color: lighten($red,10);
// 		}
// 	}
// 	.svg {
// 		fill: $orange;
// 	}
// 	.bg-photo {
// 		opacity: .1;
// 	}
// }

// // Stories block
// // ============================================================

// .stories {
// 	@include pad(10em null);
// 	background-color: shade($tan,30);
// 	.headline {
// 		color: $white;
// 	}
// 	.large {
// 		color: lighten($tan,10);
// 	}
// 	.blocks-slide {
// 		@include media(min-width $desktop) {
// 			@include margin(3em null null);
// 		}
// 		.blocks-slide-item {
// 			.story-source {
// 				@include margin(1.4em 0 0);
// 				font-family: $font-head;
// 				font-size: 1.2em;
// 				color: $purple;
// 			}
// 			.story-quote:before {
// 				content: "“";
// 				font-family: georgia, serif;
// 				font-size: 3em;
// 				color: shade($tan,5);
// 				position: absolute;
// 				top: .5em;
// 				left: .3em;
// 			}
// 			blockquote,
// 			cite {
// 				@include margin(0);
// 				@include pad(0);
// 			}
// 		}
// 	}
// 	.bg-photo {
// 		opacity: .5;
// 	}
// }

// // Tools block
// // ============================================================

// .tools {
// 	background-color: lighten($tan,15);
// 	// background: linear-gradient(to bottom, $white, darken($white,5));
// 	color: $black;
// 	.headline {
// 		color: lighten($purple,10);
// 	}
// }

// // Contact block
// // ============================================================

// .contact {
// 	background-color: $cherry;
// 	.large {
// 		@include media(min-width $desktop) {
// 			@include span-columns(8);
// 			@include shift(2);
// 		}
// 	}
// 	.contact-form {
// 		@include media(min-width $desktop) {
// 			@include span-columns(6);
// 			@include shift(3);
// 		}
// 	}
// 	.headline {
// 		color: $white;
// 	}
// 	p, label {
// 		color: $tan;
// 	}
// 	.blocks {
// 		> li {
// 			@include margin(null 0 .4em);
// 			input[type="text"],
// 			select,
// 			textarea,
// 			label {
// 				@include fill-parent;
// 				@include pad(.4em .8em);
// 				font-family: $font-body;
// 				font-size: 1.4em;
// 				color: $purple;
// 				background-color: $white;
// 				border-radius: .2em;
// 				border: none;
// 				input[type="radio"] {
// 					@include margin(null .5em null 0);
// 				}
// 				&::-webkit-input-placeholder {
// 					color: tint($purple,30);
// 					opacity: .5;
// 				}
// 			}
// 			select {
// 				-webkit-appearance: none;
// 			}
// 			&.contact-submit {
// 				@include fill-parent;
// 				@include margin(4em null null);
// 				@extend .center;
// 				clear: both;
// 				input {
// 					font-size: 1.6em;
// 					color: $red;
// 					background-color: $orange;
// 					&:hover {
// 						background-color: lighten($orange,10);
// 					}
// 				}
// 			}
// 		}
// 	}
// 	.bg-photo {
// 		opacity: .3;
// 	}
// }

// .contact-buy_or_sell {
// 	@include outer-container;
// 	.three-column {
// 		@include outer-container;
// 		@include pad(0);
// 		text-align: left;
// 		li label:hover {
// 			cursor: pointer;
// 		}
// 	}
// }

// // Footer block
// // ============================================================

// .footer {
// 	background-color: $cherry;
// 	background: linear-gradient(160deg,
// 							adjust-hue(darken($cherry,10), -10deg) 0%,
// 							$cherry 50%,
// 							adjust-hue(darken($cherry,10), 10deg) 100%);
// 	.inner {
// 		color: $white;
// 		@extend .center;
// 		.footer-message {
// 			@include media(min-width $tablet) {
// 				@include span-columns(4);
// 			}
// 			@include pad(1em 0 0);
// 			h1 {
// 				font-family: $font-head;
// 				font-size: 1.6em;
// 				line-height: 2em;
// 				color: $white;
// 			}
// 		}
// 		.footer-logos {
// 			@include media(min-width $tablet) {
// 				@include span-columns(4);
// 			}
// 			// @extend .center;
// 			li {
// 				@include margin(0 2em);
// 				display: inline-block;
// 				@extend .center;
// 				a {
// 					display: block;
// 					color: $white;
// 					.svg {
// 						@include size(3em);
// 						fill: $white;
// 					}
// 					&:hover {
// 						opacity: .8;
// 					}
// 				}
// 			}
// 		}
// 		.footer-copyright {
// 			@include media(min-width $tablet) {
// 				@include span-columns(4);
// 				@include omega;
// 				text-align: right;
// 			}
// 			@include pad(2em 0 0);
// 		}
// 	}
// 	.bg-photo {
// 		opacity: .6;
// 	}
// }



