// VARIABLES
// ============================================================

$white:        #fff;
$blue:         #406180;
$red:          lighten(#843131,10);
$cherry:       #672B3C;
$cherry-light: lighten($cherry,50);
$purple:       lighten(#351F3B,10);
$tan:          #D8D2C5;
$green:        #85A699;
$yellow-green: #819627;
$yellow:       darken(#FFE17B,10);
$orange:       #FDA56C;
$black:        #424243;
$grey:         darken($white,10);

$desktop:      1100px;
$tablet:       768px;
$mobile:       420px;
$mobile-xs:    320px;

$font-head:    'Homemade Apple', cursive;
$font-body:    'Lato', sans-serif;