
- var pageTitle = "Pizza Delivery"
- var logoText = "Pizza"

- var fontHeading = ""
- var fontSubheading = ""
- var fontBody = ""

- var facebook = "davidxc"
- var twitter = "davidxc"
- var instagram = "davidxcarroll"
- var linkedin = "davidxcarroll"


//- block pageTitle
//- 	pageTitle Updated Page Title

//- block logoText
//- 	logoText Pizza

//- block facebook
//- 	facebook davidxc
//- block twitter
//- 	twitter davidxc
//- block instagram
//- 	instagram davidxcarroll
//- block linkedin
//- 	linkedin davidxcarroll