
// FOOTER =======================

.footer {
	color: $red;
	.inner {
		@include pad(4em 0);
		text-align: center;
	}
}

.footer-social {
	ul {
		li {
			@include media(min-width $landscape) {
				display: inline-block;
			}
			@include media(max-width $landscape) {
				display: block;
			}
			a {
				@include margin(null null null .5em);
			}
		}
	}
}