extends layout

block content

	- var x = 5;
	- for (var i=1; i<=x; i++) {
		img(src="/static/img/za.gif")
	- }
	h1.
		Oh, you're gonna be in a coma, all right. It's called 'taking advantage.'
	h2.
		It's what gets you ahead in life. Not tricks, Michael, illusions. Really? Did nothing cancel?
	h3.
		Guy's a pro. That's what it said on 'Ask Jeeves.' Michael! There's so many poorly chosen words in that sentence.
	h4.
		No… but I'd like to be asked! We just call it a sausage.
	h5.
		I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense.
	h6.
		There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor.
	p.
		I'm a monster. I don't understand the question, and I won't respond to it. As you may or may not know, Lindsay and I have hit a bit of a rough patch. I hear the jury's still out on science. There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor.

block footer

	h1.
		Footer