//- extends ./includes/settings.pug

html

	//- SETTINGS
	//- =====================
	include ./includes/settings
	
	//- HEAD
	//- =====================
	include ./includes/head
	
	body

		//- HEADER
		//- =====================
		include ./includes/header

		//- MAIN CONTENT
		//- =====================
		include ./includes/content

		//- FOOTER
		//- =====================
		include ./includes/footer